* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    'header header header header header' 
    'main main main aside aside '
    'footer footer footer footer footer'
    ;
    min-width: 100%;
}

header {
    border: 1px solid black;
    height: 150px;
    grid-area: header;
    display: flex;
}
main {
    border: 1px solid black;
    grid-area: main;
    margin: auto;
    width: 90%;
    height: auto;
    grid-column: 1/4;
    
}
aside {
    border: 1px solid black;
    grid-area: aside;
    width: 100%;
    grid-column: 4;
    grid-auto-rows: auto;


   
}
footer {
    border: 1px solid black;
    height: 120px;
    grid-area: footer;
    display: flex
}

nav {
    align-content: flex-end;
    padding: 20px;
    
}