* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'header header header header header'
    'main main main main aside'
    'footer footer footer footer footer'
    ;
}

header {
    border: 1px solid black;
    grid-area: header;
    height: 150px;
}
main {
    border: 1px solid black;
    grid-area: main;
    display: flex;
    margin: auto;
    
}
aside {
    border: 1px solid black;
    grid-area: aside;    
}
footer {
    border: 1px solid black;
    grid-area: footer;
    
}